  .table-rate {
    display: flex;
    justify-content: center;
    table {
      border: 1px solid rgb(0, 125, 197);
      border-radius: 10px;
      text-align: center;
      thead tr th {
        padding: 10px;
        margin: 10px 0;
        color: rgb(6, 8, 114);
        font-weight: 500;
      }
      tbody tr td {
        padding: 10px 0;
      }
    }
  }